<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="imagination.ga.marsh">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".MarshActivity"/>
        <activity android:name=".PayActivity"/>
    </application>

</manifest>
